.baner {
 background-color: rgba(0, 0, 0, 0.2);
 color: var(--color-main);
 height: 90px;
 left: 0;
 position: absolute;
 top: 0;
 width: 100%;
 z-index: 1;
}

.menu-bar {
 align-items: center;
 display: flex;
 justify-content: space-between;
 height: 93px;
}

.banner-content {
 display: flex;
 height: 95vh;
 justify-content: center;
 flex-direction: column;
 font-family: var(--font-outstanding);
 position: relative;
 text-align: center;
}

.banner__title {
 font-size: 90px;
 font-weight: 900;
 text-transform: uppercase;
}

.banner__text {
 font-size: 16px;
 font-weight: 700;
 line-height: 22px;
 margin: 20px 0 30px;
}
