.blog-articles {
 background-color: var(--secondary-color);
 display: flex;
 justify-content: space-around;
 margin-bottom: 20px
}

.blog__article {
 text-align: left;
 margin-right: 16px;
 max-width: 33%;
}

.blog__title {
 color: var(--color-main-text);
 font: normal normal normal 19px/26px var(--font-outstanding);
 margin: 20px;
 text-align: left;
 text-transform: uppercase;
}

.blog__text {
 color: var(--color-main-text);
 font: normal normal 300 14px/19px var(--font-normal);
 line-height: 19px;
 margin-bottom: 30px;
 text-align: left;
}