.page-header {
 background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../../images/Image.jpg");
 background-position: top;
 background-repeat: no-repeat;
 background-size: cover;
 color: var(--color-main);
 height: calc(100vh - 25px);
}

.nav {
 font: normal normal bold 16px/22px var(--font-outstanding); 
 color: var(--color-main);
 height: 100%;
}

.nav-list {
 display: flex;
 justify-content: center;
 height: 100%;
}

.nav__active, .nav__item {
 border-right: 2px solid rgba(100, 100, 100, 0.2);
}

.nav__active, .nav__item:hover {
 background-color: rgba(207, 207, 207, 0.2)
}

.nav .nav__link {
 align-items: center;
 color: var(--color-main);
 display: flex;
 height: 100%;
 justify-content: center;
 font-weight: 600;
 height: 88px;
 text-decoration: none;
 text-transform: uppercase;
 width: 128px;
}

.nav__item:last-child {
 border: none;
}
