.btn {
 border: none;
 border-radius: 40px;
 box-shadow: 0 3px 6px var(--color-shadow);
 display: inline-block;
 font-family: var(--font-outstanding);
 font-weight: 700;
 text-transform: uppercase;
 text-decoration: none;
}

.btn[href^="/share"] {
 background: var(--color-second);
 color: var(--color-main);
 font-size: 16px;
 margin-right: 25px;
 padding: 22px 55px;
}

.btn[href^="/features"] {
 background: var(--color-main);
 color: var(--color-second);
 font-size: 16px;
 padding: 22px 55px;
}

.btn__blog {
 background-color: var(--color-second);
 color: var(--color-main);
 font: normal normal bold 14px/19px var(--font-outstanding);
 padding: 15px 25px;
 text-align: left;
}

.btn__service {
 background-color: var(--color-second);
 box-shadow: 0px 3px 6px var(--color-shadow);
 color: var(--color-main);
 display: inline-block;
 font: normal normal bold 14px/19px var(--font-outstanding);
 text-align: left;
 margin-bottom: 30px;
 padding: 15px 25px;
}



.btn__form {
 background: var(--color-main);
 color: var(--color-second);
 padding: 11px 52px;
 font-size: 14px;
}