.arrow {
 align-items: center;
 background-color: var(--color-second);
 border-radius: 50%;
 bottom: -22px;
 display: flex;
 height: 55px;
 justify-content: center;
 position: absolute;
 right: 50%;
 transform: translateX(40%);
 width: 55px;
}

.svg__arrow {
 background-image: url('../../images/Icon\ Arrow\ Down.svg');
 background-repeat: no-repeat;
 height: 22px;
 width: 22px;
}

