.title {
 align-items: center;
 display: inline-flex;
 font-family: var(--font-outstanding);
 font-size: 35px;
 font-weight: 700;
 height: 130px;
 text-transform: uppercase;
}

.title::before, .title::after {
 background: var(--color-second);
 box-shadow: 0 1px 6px var(--color-shadow);
 content: "";
 height: 3px;
 width: 50px;
}

.title::before {
 margin-right: 10px;
}

.title::after {
 margin-left: 10px;
}

.title__blog {
 color: var(--color-main-title);
}

.title__service {
 color: var(--color-main)
}

.title__contact {
 display: flex;
 justify-content: center;
}